<%= render 'shared/errors', obj: @article %>
  <div class="row">
    <div class="col-12">
      <%= form_for @article do |f| %>
        <div class="form-group">
          <label for="title">
            <%= f.label :title %>
          </label>
          <%= f.text_field :title, class:"form-control", id:"title", placeholder:"Title"%>
        </div>
        <div class="form-group">
          <label for="description">
            <%= f.label :description %>
          </label>
          <%= f.text_area :description, class:"form-control", id:"description", placeholder:"Description" %>
        </div>
        <%= f.submit class:"btn btn-primary" %> 
        <%= link_to "Cancel", articles_path, class:"btn btn-danger" %>
      <% end %>
      
    </div>
  </div>
